@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior: none;
}

.lenis {
  scroll-behavior: auto !important;
}

.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis-stopped {
  overflow: hidden;
}
